@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(to right, #ffe000, #799f0c);
  width: 100%;
  height: 100vh;
  color: #fff;
  text-align: center;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  padding: 1em;
}

button {
  background-color: #c0ff14;
  cursor: pointer;
  padding: 1em;
  border-radius: 10px;
  border: none;
  box-shadow: 1 1 8px solid #121212;
  width: 200px;
  font-size: 15px;
}

button:hover {
  background-color: #a3dd03;
}

.final-step,
.second-step {
  display: none;
}

input {
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
}

#resultado {
  font-size: 25px;
  font-weight: bold;
}
